name: CI

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    # Create and Activate Conda Env
    - uses: conda-incubator/setup-miniconda@v2
      with:
        activate-environment: cdp-data-interactive
        environment-file: environment.yml

    - name: Set up Quarto
      uses: quarto-dev/quarto-actions/setup@v2

    - name: Download Spacy Model
      shell: bash -l {0}
      run: |
        python -m spacy download en_core_web_trf

    # Build webpage
    - name: Build webpage
      shell: bash -l {0}
      run: |
        just build
      
    # Publish to GH Pages
    - name: Publish Book
      uses: JamesIves/github-pages-deploy-action@v4
      with:
        folder: ./